In [21]:
import numpy as np
import pandas as pd

#Bài 4.1
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser_from_list = pd.Series(mylist)
ser_from_arr = pd.Series(myarr)
ser_from_dict = pd.Series(mydict)
print( ser_from_list)
print( ser_from_arr)   
print( ser_from_dict)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64
a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [23]:
#4.2
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
df = pd.DataFrame({
    "letter": ser1,
    "value": ser2
})  
print(df)

   letter  value
0       a      0
1       b      1
2       c      2
3       e      3
4       d      4
5       f      5
6       g      6
7       h      7
8       i      8
9       j      9
10      k     10
11      l     11
12      m     12
13      n     13
14      o     14
15      p     15
16      q     16
17      r     17
18      s     18
19      t     19
20      u     20
21      v     21
22      w     22
23      x     23
24      y     24
25      z     25

In [19]:
#Bài 4.3 
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
df_concat = pd.concat([ser1, ser2], axis=1)
df_concat.columns = ['col1', 'col2']
print(df_concat)

   col1  col2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

In [18]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
result1 = ser1[~ser1.isin(ser2)]
print(result1)
result2 = pd.Series(list(set(ser1).symmetric_difference(set(ser2))))
print(result2)

0    1
1    2
2    3
dtype: int64
0    1
1    2
2    3
3    6
4    7
5    8
dtype: int64

In [17]:
ser = pd.Series(np.random.normal(10, 5, 25))
min_val = ser.min()
p25 = ser.quantile(0.25)
median_val = ser.median()
p75 = ser.quantile(0.75)    
max_val = ser.max()
print("Min:", min_val)      
print("25th Percentile:", p25)
print("Median:", median_val)
print("75th Percentile:", p75)
print("Max:", max_val)

Min: 1.5283474459067445
25th Percentile: 5.613736985379319
Median: 10.071813431403392
75th Percentile: 13.251570174720449
Max: 21.49492590701766

In [16]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
count = ser.value_counts()
print(count)

h    7
c    5
e    4
a    4
f    3
g    3
d    2
b    2
Name: count, dtype: int64

In [15]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
top2 = ser.value_counts().nlargest(2).index
print(top2)
result = ser.where(ser.isin(top2), 'Other')
print(result)

Index([4, 2], dtype='int32')
0         4
1         4
2     Other
3         4
4         4
5     Other
6     Other
7         2
8         4
9         2
10        2
11        4
dtype: object

In [14]:
ser = pd.Series(np.random.random(20))
result = pd.qcut(ser, 10, labels=[f'd{n}' for n in range(1, 11)])
print(result)

0      d1
1      d2
2      d6
3      d8
4      d2
5      d4
6      d7
7      d7
8      d4
9      d9
10     d8
11     d1
12     d3
13     d9
14     d3
15     d6
16    d10
17     d5
18    d10
19     d5
dtype: category
Categories (10, object): ['d1' < 'd2' < 'd3' < 'd4' ... 'd7' < 'd8' < 'd9' < 'd10']

In [13]:
ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(ser.values.reshape(7, 5))
print(df)

   0  1  2  3  4
0  4  6  8  3  7
1  8  1  8  9  6
2  2  7  3  2  1
3  4  3  8  2  9
4  9  5  5  1  7
5  6  1  7  7  9
6  3  8  4  9  7

In [12]:
ser = pd.Series(np.random.randint(1, 10, 7))
idx = ser[ser % 3 == 0].index
print(idx)

Index([1], dtype='int64')

In [11]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
result = ser.iloc[pos]
print(result)

0     a
4     e
8     i
14    o
20    u
dtype: object

In [10]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
df = pd.DataFrame({'num': ser1, 'char': ser2})  
print(df)
df1 = pd.concat([ser1, ser2], axis=0)
print(df1)

   num char
0    0    a
1    1    b
2    2    c
3    3    d
4    4    e
0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [9]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
result = ser2[ser2.isin(ser1)]
ds = result.tolist()
print(ds)

[1, 3, 10, 13]

In [8]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
mse = ((truth - pred) ** 2)
print(mse)

0    0.124665
1    0.542011
2    0.104406
3    0.036588
4    0.011445
5    0.005955
6    0.037902
7    0.934515
8    0.925306
9    0.735295
dtype: float64

In [7]:
ser = pd.Series(['how','to','kick','ass?'])
print("Chuyển đổi các ký tự đầu mỗi phần tử thành chữ in hoa", ser.str.capitalize())

Chuyển đổi các ký tự đầu mỗi phần tử thành chữ in hoa 0     How
1      To
2    Kick
3    Ass?
dtype: object

In [6]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
print("Hiệu số 2 số liên tiếp trong ser", ser.diff())

Hiệu số 2 số liên tiếp trong ser 0    NaN
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    6.0
7    8.0
dtype: float64

In [5]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
change_time = pd.to_datetime(ser, format = "mixed")
print(change_time)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [16]:
emails = pd.Series(['buying book at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern = '([A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4})'
extracted = emails.str.extract(pattern, expand=False)
print(extracted)

0                  NaN
1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

In [4]:
fruit = pd.Series(np.random.choice(['Apple', 'banana', 'carrot'], 10))
weight = pd.Series(np.linspace(1, 10, 10))
print(weight.tolist())
print(fruit.tolist())
df = pd.DataFrame({
    "Fruit": fruit,
    "Weight": weight
})
avg = df.groupby("Fruit")["Weight"].mean()
print(avg)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['carrot', 'banana', 'Apple', 'carrot', 'carrot', 'banana', 'banana', 'banana', 'banana', 'banana']
Fruit
Apple     3.000000
banana    7.000000
carrot    3.333333
Name: Weight, dtype: float64

In [ ]:
df = pd.read_csv("euro2012.csv")
goal = df["GF"].astype(int)
print(goal.tolist())
doi = df["Team"]
tong_doi = df.shape[0]
print("Tổng số đội:", tong_doi)
print(df)
cards = pd.DataFrame({
    "Team": ["Spain","Italy","Germany","Portugal","Netherlands","Croatia",
             "Czech Republic","Denmark","Greece","Russia","Poland","Republic of Ireland"],
    "Yellow Card": [3,5,4,6,3,4,3,5,2,4,2,3],
    "Red Card": [0,1,0,1,0,0,0,0,0,0,0,0]
})
print(cards)
giam_theo_yellowcard = cards.sort_values("Yellow Card", ascending=False)
giam_theo_redcard = cards.sort_values("Red Card", ascending=False)
trung_binh_yellowcard = cards["Yellow Card"].mean()
ghi_tren_6ban = df[goal > 6]
cac_doi_G = df[df["Team"].str.startswith("G")]
print(df.iloc[:, :7])
print(df.iloc[:, -3:])
print(df["Team"])
print(df["GF"])
print(df["GA"])
print(df["GD"])

In [ ]:
drink = pd.read_csv("drinks.csv", index_col=0)
print(type(drink))
print(drink.shape)
print(drink.columns)
print(drink.head())
print(drink.tail())
print(drink.groupby("continent")["beer_servings"].mean())
print(drink.groupby("continent")["wine_servings"].describe())
print(drink.groupby("continent")[["beer_servings", "wine_servings", "spirit_servings"]].mean())
print(drink.groupby("continent")[["beer_servings", "wine_servings", "spirit_servings"]].median())
print(drink.groupby("continent")["spirit_servings"].agg(["mean", "max", "min"]))
sorted_drink = drink.sort_values(by="beer_servings")
print(sorted_drink)
print(drink.sort_values("beer_servings", ascending=False).head())
print(drink.sort_values("beer_servings", ascending=True).head())

In [ ]:
stocks1 = pd.read_csv("stocks1.csv")
print(stocks1.head())
print(stocks1.tail())
print(stocks1.dtypes)
print(stocks1.info())
stocks2 = pd.read_csv("stocks2.csv")
print(stocks2.head())
print(stocks2.tail())
print(stocks2.dtypes)
print(stocks2.info())
companies = pd.read_csv("companies.csv")
print(companies.head())
print(companies.dtypes)
print(companies.info())
print(stocks1.isnull().sum())
stocks1['high'] = stocks1.groupby('symbol')['high'].transform(lambda x: x.fillna(x.max()))
stocks1['low'] = stocks1.groupby('symbol')['low'].transform(lambda x: x.fillna(x.min()))
stocks = pd.concat([stocks1, stocks2], ignore_index=True)
print(stocks.tail(15))
stocks_companies = pd.merge(stocks, companies, left_on='symbol', right_on='name', how='left')
print(stocks_companies.head())
avg_price_volume = stocks_companies.groupby('symbol')[['open','high','low','close','volume']].mean()
print(avg_price_volume)
close_stats = stocks_companies.groupby('symbol')['close'].agg(['mean','max','min'])
print(close_stats)
stocks_companies['parsed_time'] = pd.to_datetime(stocks_companies['date'])
print(stocks_companies['parsed_time'].dtype)
print(stocks_companies.head())
stocks_companies['result'] = stocks_companies.apply(lambda row: 'up' if row['close'] > row['open'] else 'down', axis=1)
print(stocks_companies.head())

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

movie = pd.read_csv("movies.csv")

print(type(movie))
print(movie.shape)
print(movie.columns)
print(movie.head())
print(movie.tail())

print(movie.isna().sum())
movie["genres"] = movie["genres"].fillna("Unknown")

year_series = movie["title"].str.extract(r'\((\d{4})\)') 
movie["year"] = pd.to_numeric(year_series.iloc[:, 0], errors="coerce")

movie_expanded = movie.copy()
movie_expanded["genres"] = movie_expanded["genres"].str.split("|")
movie_expanded = movie_expanded.explode("genres")

filtered_action = movie_expanded[movie_expanded["genres"].str.contains("Action", na=False)]
print(filtered_action.head())

movies_per_year = movie["year"].dropna().astype(int).value_counts().sort_index()
print(movies_per_year)

if not movies_per_year.empty:
    plt.figure(figsize=(10,5))
    movies_per_year.plot(kind="line")
    plt.title("Số phim theo từng năm")
    plt.xlabel("Năm")
    plt.ylabel("Số lượng phim")
    plt.tight_layout()
    plt.show()
else:
    print("Không có dữ liệu năm hợp lệ để vẽ biểu đồ.")