In [ ]:
import sqlite3
db_path = "example.db"
with sqlite3.connect(db_path) as conn:
    cur = conn.cursor()
    cur.execute("""
    CREATE TABLE IF NOT EXISTS sample (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT,
        age INTEGER 
    );
    """)
    nhan_vien = [
        ("Nguyen Van A", 34),
        ("Tran Thi B", 26),
        ("Le Thi C", 22)
    ]
    cur.executemany("INSERT INTO sample (name, age) VALUES (?, ?);", nhan_vien)
    liet_ke = cur.execute("SELECT * FROM sample;").fetchall()
    for row in liet_ke:
        print(row)
    conn.commit()