In [ ]:
import sqlite3
db_path = "example.db"
with sqlite3.connect(db_path) as conn:
    cur = conn.cursor()
    cur.execute("""
    CREATE TABLE IF NOT EXISTS sample (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT,
        age INTEGER 
    );
    """)
    nhan_vien = [
        ("Nguyen Van A", 30),
        ("Tran Thi B", 25),
        ("Le Van C", 28)
    ]
    cur.executemany("INSERT INTO sample (name, age) VALUES (?, ?);", nhan_vien)
    cap_nhat_tuoi = cur.execute("UPDATE sample SET age = age + 1 WHERE name = ?;", ("Nguyen Van A",))
    conn.commit()