In [ ]:
import sqlite3
db_path = "example.db"
with sqlite3.connect(db_path) as conn:
    cur = conn.cursor()
    cur.execute("""
    CREATE TABLE IF NOT EXISTS sample (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT
    );
    """)
    conn.commit()
print(sqlite3.__version__)

In [ ]:
import sqlite3
db_path = "example.db"  
conn = sqlite3.connect(db_path)
cur = conn.cursor()
cur.execute("""
    CREATE TABLE IF NOT EXISTS users (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT
    );
""")
conn.commit()
conn.close()

In [ ]:
import sqlite3
db_path = "mydatabase.db"
conn = sqlite3.connect(db_path)
cur = conn.cursor()
cur.execute("""
    CREATE TABLE IF NOT EXISTS users (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT,
        age INTEGER
    );
""")
conn.commit()
conn.close()

In [ ]:
import sqlite3
db_path = "example.db"
with sqlite3.connect(db_path) as conn:
    cur = conn.cursor()
    cur.execute("""
    CREATE TABLE IF NOT EXISTS sample (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT,
        age INTEGER 
    );
    """)
    nhan_vien = [
        ("Nguyen Van A", 30),
        ("Tran Thi B", 25),
        ("Le Van C", 28)
    ]
    cur.executemany("INSERT INTO sample (name, age) VALUES (?, ?);", nhan_vien)
    liet_ke = cur.execute("SELECT * FROM sample;").fetchall()
    """
           for row in cur:
                print(row)  """
    conn.commit()

In [ ]:
import sqlite3
db_path = "example.db"
with sqlite3.connect(db_path) as conn:
    cur = conn.cursor()
    cur.execute("""
    CREATE TABLE IF NOT EXISTS sample (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT,
        age INTEGER 
    );
    """)
    nhan_vien = [
        ("Nguyen Van A", 30),
        ("Tran Thi B", 25),
        ("Le Van C", 28)
    ]
    cur.executemany("INSERT INTO sample (name, age) VALUES (?, ?);", nhan_vien)
    liet_ke = cur.execute("SELECT * FROM sample;").fetchall()
    for row in liet_ke:
        print(row)
    conn.commit()

In [ ]:
import sqlite3
db_path = "example.db"
with sqlite3.connect(db_path) as conn:
    cur = conn.cursor()
    cur.execute("""
    CREATE TABLE IF NOT EXISTS sample (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT,
        age INTEGER 
    );
    """)
    nhan_vien = [
        ("Nguyen Van A", 30),
        ("Tran Thi B", 25),
        ("Le Van C", 28)
    ]
    cur.executemany("INSERT INTO sample (name, age) VALUES (?, ?);", nhan_vien)
    liet_ke = cur.execute("SELECT * FROM sample;").fetchall()
    for row in liet_ke:
        print(row)
    dem_so_ban_ghi = cur.execute("SELECT COUNT(*) FROM sample;").fetchone()[0]
    print("Tổng số bản ghi trong bảng sample:", dem_so_ban_ghi)
    conn.commit()

In [ ]:
import sqlite3
db_path = "example.db"
with sqlite3.connect(db_path) as conn:
    cur = conn.cursor()
    cur.execute("""
    CREATE TABLE IF NOT EXISTS sample (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT,
        age INTEGER 
    );
    """)
    nhan_vien = [
        ("Nguyen Van A", 30),
        ("Tran Thi B", 25),
        ("Le Van C", 28)
    ]
    cur.executemany("INSERT INTO sample (name, age) VALUES (?, ?);", nhan_vien)
    cap_nhat_tuoi = cur.execute("UPDATE sample SET age = age + 1 WHERE name = ?;", ("Nguyen Van A",))
    conn.commit()

In [ ]:
import sqlite3
db_path = "example.db"
with sqlite3.connect(db_path) as conn:
    cur = conn.cursor()
    cur.execute("""
    CREATE TABLE IF NOT EXISTS sample (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT,
        age INTEGER 
    );
    """)
    nhan_vien = [
        ("Nguyen Van A", 30),
        ("Tran Thi B", 25),
        ("Le Van C", 28)
    ]
    xoa = cur.excute("DELETE FROM sample WHERE name = ?;", ("Le Van C",))
    conn.commit()

In [4]:
import pandas as pd
df = pd.read_csv("region.csv")
for index, row in df.iterrows():
    print(row["REGION_ID"], row["REGION_NAME"])

1  Europe
2  Americas
3  Asia
4  Middle East and Africa

In [ ]:
with sqlite3.connect("product.sqbpro") as conn:
    cur = conn.cursor()
    liet_ke = cur.execute("SELECT * FROM products;").fetchall()
    print("Hiển thị danh sách sản phẩm", liet_ke)
    san_pham = [
        ("Sản phẩm A", 10000),
        ("Sản phẩm B", 20000),
        ("Sản phẩm C", 15000)
    ]
    cur.excutemany("INSERT INTO products (product_name, price) VALUES (?, ?);", san_pham)
    id = input("Nhập ID sản phẩm cần tìm kiếm: ")
    tim_kiem = cur.execute("SELECT * FROM products WHERE id = ?;".fetchall())
    print("Kết quả tìm kiếm:", tim_kiem)
    cap_nhap = cur.execute("UPDATE products SET price = price + 5000 WHERE id = ?;", (id,))
    xoa = cur.execute("DELETE FROM products WHERE id = ?;", (id,))
    conn.commit()

In [ ]:
import sqlite3
with sqlite3.conncet("ql_nhan_vien.db") as conn:
    cur = conn.cursor() 
    phong_data = [
        ("Kế toán",),
        ("Nhân sự",),
        ("Kỹ thuật",)
    ]
    cur.executemany("INSERT INTO PHONG (TenPhong) VALUES (?);", phong_data)
    nv_data = [
        ("Nguyễn Văn A", 1),
        ("Trần Thị B", 2),
        ("Lê Văn C", 1),
    ]
    cur.executemany("INSERT INTO NHAN_VIEN (HoTen, MaPhong) VALUES (?, ?);", nv_data)
    conn.commit()