In [2]:
import sqlite3

In [ ]:
conn = sqlite3.connect('example.db')

In [ ]:
import sqlite3
conn = sqlite3.connect("mydb.db")    
cursor = conn.cursor()        #
cursor.execute("SELECT * FROM users WHERE age > ?", (20,))
rows = cursor.fetchall()         
row = cursor.fetchone()          
cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ("Bình", 30))
data = [("Cường", 22), ("Dung", 27), ("An", 19)]
cursor.executemany("INSERT INTO users (name, age) VALUES (?, ?)", data)
conn.commit()
cursor.close()
conn.close()
print(f"Kiểu dữ liệu của rows:{type(rows)}")

In [ ]:
import sqlite3
with sqlite3.connect('example_db.db') as conn:
    cursor = conn.cursor()
    print("Kết nối thành công. Sẵn sàng thực hiện truy vấn...")

In [ ]:
import sqlite3
conn = sqlite3.connect(":memory:") 
cur = conn.cursor()                 
cur.execute("CREATE TABLE sv (id INTEGER PRIMARY KEY, ten TEXT, diem REAL)")
cur.executemany("INSERT INTO sv (ten, diem) VALUES (?, ?)",                
                [("An",8.5), ("Bình",9.2), ("Cường",7.0), ("Dung",9.9)])
conn.commit() 
row = cursor.fetchone()
cursor.execute("SELECT * FROM users")

In [ ]:
with sqlite3.connect('mydatabase.db') as conn:
    cursor = conn.cursor()
    print("Kết nối thành công đến cơ sở dữ liệu")

In [ ]:
conn = sqlite3.connect(':memory:')
cur = conn.cursor()
cur.execute('CREATE TABLE test (id INTEGER PRIMARY KEY, name TEXT, diem REAL)')
cur.execute('INSERT INTO sv (name, diem) VALUES (?, ?)')
data = [('Nguyen Van A', 8.5), ('Tran Thi B', 9.0), ('Le Van C', 7.5)]
cur.executemany('INSERT INTO test (name, diem) VALUES (?, ?)', data)
conn.commit()

In [ ]:
cur.execute("SELECT id, name, diem FROM sv ODER BY diem DESC")
row = cur.fetchone()
print(row)
row = cur.fetchone()
print(row)
batch = cur.fetchmany(2)
print(batch)
all = cur.fetchall()
print(all)
for row in cur:
    print(row)

In [ ]:
cur.execute("SELECT id, ten, diem FROM sv ORDER BY diem DESC")
row = cur.fetchone()
print(row)
row = cur.fetchone()    
print(row)
cur.execute("SELECT id, ten, diem FROM sv ORDER BY diem DESC")
batch = cur.fetchmany(2)
print(batch)

In [ ]:
cur.execute("SELECT id, ten, diem FROM sv ORDER BY diem DESC")
all_rows = cur.fetchall()
print(all_rows)

In [ ]:
cur.execute("SELECT id, ten, diem FROM sv ORDER BY diem DESC")
for row in cur:
    print(row)

In [ ]:
import sqlite3

with sqlite3.connect("khdl_K18.db") as conn:
    cur = conn.cursor()

    cur.execute("DROP TABLE IF EXISTS sinhvien")

    cur.execute("""
        CREATE TABLE sinhvien (
            id         INTEGER PRIMARY KEY AUTOINCREMENT,
            ho_ten     TEXT    NOT NULL,
            lop        TEXT,
            diem_tb    REAL    CHECK (diem_tb >= 0 AND diem_tb <= 10),
            ngay_sinh  DATE
        )
    """)

    cur.execute(
        "INSERT INTO sinhvien (ho_ten, lop, diem_tb, ngay_sinh) VALUES (?, ?, ?, ?)",
        ("Nguyễn Văn An", "18A1", 8.7, "2005-03-15")
    )

    nhieu_hs = [
        ("Trần Thị Bình",  "18A2", 9.1, "2005-01-20"),
        ("Lê Văn Cường",   "18A1", 6.5, "2004-07-10"),
        ("Phạm Hồng Dung", "18A3", 9.9, "2005-12-01"),
        ("Hoàng Yến Nhi",  "18A2", 8.2, "2004-05-18")
    ]

    cur.executemany(
        "INSERT INTO sinhvien (ho_ten, lop, diem_tb, ngay_sinh) VALUES (?, ?, ?, ?)",
        nhieu_hs
    )
    conn.commit()

    cur.execute("SELECT id, ho_ten, diem_tb FROM sinhvien ORDER BY diem_tb DESC")
    for row in cur:
        print(f"{row[0]}. {row[1]} – {row[2]}")

    cur.execute(
        "UPDATE sinhvien SET diem_tb = ? WHERE ho_ten LIKE ?",
        (8.8, "%Cường%")
    )
    conn.commit()

    cur.execute(
        "DELETE FROM sinhvien WHERE ho_ten = ?",
        ("Phạm Hồng Dung",)
    )
    conn.commit()

    cur.execute("SELECT * FROM sinhvien ORDER BY diem_tb DESC")
    for row in cur:
        print(row)

In [ ]:
import sqlite3
import pandas as pd 
with sqlite3.connect('example_db.db') as conn:
    sql_query = """
    SELECT Name, Number
    FROM bang_diem
    WHERE Number > 7.0
    ORDER BY Number DESC;
    """

    print("Đang truy vấn dữ liệu từ CSDL...")
    df_ket_qua = pd.read_sql_query(sql_query, conn)
    print("\nTruy vấn thành công. Dữ liệu đã được load vào DataFrame:")
    print(df_ket_qua)
    print("\nThông tin Data Type (Dtype) của DataFrame:")
    print(df_ket_qua.info())

In [ ]:
df_ket_qua['Name'].value_counts()

In [ ]:
df_ket_qua.plot.bar(x='Name', y='Number')

In [ ]:
import sqlite3

with sqlite3.connect("mydb.db") as conn:  
    cur = conn.cursor()
    cur.execute("""CREATE TABLE IF NOT EXISTS users(
                    id INTEGER PRIMARY KEY,
                    name TEXT NOT NULL,
                    age INTEGER)""")
    cur.execute("INSERT INTO users (name, age) VALUES (?, ?)", 
                ("Nguyễn Văn A", 30))

    cur.execute("INSERT INTO users (name, age) VALUES (:name, :age)",
                {"name": "Trần Thị B", "age": 25})

    data = [("Lê Văn C", 27), ("Phạm Ngọc D", 31), ("Hoàng Yến", 24)]
    cur.executemany("INSERT INTO users (name, age) VALUES (?, ?)", data)

    conn.commit()  
    print("Chèn thành công!")

In [ ]:
import sqlite3
DB_NAME = 'student_records.db'

In [ ]:
import sqlite3

with sqlite3.connect(DB_NAME) as conn:
    cursor = conn.cursor()

    print("1. Thực hiện DDL: Tạo bảng 'grades'")
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS grades (
            student_id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            score REAL
        )
    """)

    print("2. Thực hiện DML: Chèn dữ liệu mới")
    cursor.execute("INSERT INTO grades VALUES (?, ?, ?)",
                   (105, 'Nguyen Van A', 8.5))
    cursor.execute("INSERT INTO grades VALUES (?, ?, ?)",
                   (106, 'Tran Thi B', 7.8))

    conn.commit()
    print("   -> Đã COMMIT thành công các thao tác INSERT/UPDATE/DELETE.")

    print("\n3. Thực hiện DML: Truy vấn dữ liệu (SELECT)")
    results = cursor.execute(
        "SELECT name, score FROM grades WHERE score >= 8.0"
    ).fetchall()

    print(f"   -> Kết quả truy vấn (Điểm >= 8.0): {results}")

In [ ]:
import sqlite3
import pandas as pd
DB_NAME = 'khdl_K18.db'
sql_query_group_by = 
with sqlite3.connect(DB_NAME) as conn:
    df_lop_summary = pd.read_sql_query(sql_query_group_by, conn)
print("--- KẾT QUẢ TỔNG HỢP THEO LỚP HỌC (khdl_K18.db) ---")
print(df_lop_summary)

In [ ]:
try:
    import matplotlib.pyplot as plt

    plt.figure(figsize=(10, 6))
    df_lop_summary.plot.bar(x='lop', y='Avg_Score',
                            color='teal',                           
                            title='Điểm Trung bình theo Từng Lớp học')

    plt.xlabel('Lớp học')
    plt.ylabel('Điểm Trung bình')
    plt.xticks(rotation=45, ha='right')                        
    plt.tight_layout()                                          
    plt.show()

except ImportError:
    print("\nLưu ý: Cần cài đặt matplotlib để hiển thị biểu đồ.")

In [ ]:
import sqlite3
import pandas as pd
DB_NAME = 'khdl_K18.db'
sql_query_with_having = "HAVING AVG(diem_tb) > 7.0 ORDER BY Avg_Score DESC"
with sqlite3.connect(DB_NAME) as conn:
    df_top_classes = pd.read_sql_query(sql_query_with_having, conn)
print("--- KẾT QUẢ CÁC LỚP CÓ ĐIỂM TRUNG BÌNH > 7.0 ---")
print(df_top_classes)

In [ ]:
import sqlite3
import pandas as pd
DB_NAME = 'khdl_K18.db'
sql_inner_join_query = """
SELECT T1.ho_ten, T1.diem_tb, T2.ho_ten_gv
FROM sinhvien AS T1
INNER JOIN giao_vien AS T2
ON T1.lop = T2.lop_phu_trach
WHERE T1.diem_tb > 8.0;
"""
with sqlite3.connect(DB_NAME) as conn:
    df_join_results = pd.read_sql_query(sql_inner_join_query, conn)

print("--- KẾT QUẢ SINH VIÊN ĐIỂM CAO VÀ GIÁO VIÊN PHỤ TRÁCH (INNER JOIN) ---")
print(df_join_results)

In [ ]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
DB_NAME = 'mydatabase.db'
SQL_QUERY = 'SELECT "Tên", "Tuổi" FROM users'.
with sqlite3.connect(DB_NAME) as conn:
    df_users = pd.read_sql_query(SQL_QUERY, conn)
plt.figure(figsize=(10, 6))
df_users.plot.bar(x='Tên', y='Tuổi', ax=plt.gca(), width=0.1)
plt.xlabel('Họ tên')
plt.ylabel('Độ tuổi')
plt.title('Biểu đồ tuổi của nhân viên (Từ DataFrame)')
plt.xticks(rotation=0) 
plt.tight_layout()                      
plt.show()

In [ ]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
DB_NAME = 'sales.db'
SQL_QUERY = 'SELECT year, revenue FROM sales' 
with sqlite3.connect(DB_NAME) as conn:
    df_sales = pd.read_sql_query(SQL_QUERY, conn)           
plt.figure(figsize=(10, 6))

df_sales.plot.line(x='year',
                    y='revenue',
                    marker='o',                    
                    linestyle='-',
                    ax=plt.gca(),               
                    title='Biểu đồ biểu diễn doanh thu theo năm')

plt.xlabel('Các năm')
plt.ylabel('Doanh thu (đơn vị: tỷ đồng)')
plt.grid(True) 
plt.legend(['Doanh thu theo năm'])
plt.tight_layout()
plt.show()

In [ ]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

DB_NAME = 'ct_giadinh.db'
SQL_QUERY = 'SELECT * FROM khoan_chi'
with sqlite3.connect(DB_NAME) as conn:
    df_chi = pd.read_sql_query(SQL_QUERY, conn)
if len(df_chi) > 0:
    df_data = df_chi.iloc[[0]].copy()
    df_plot = df_data.melt(
        id_vars=df_data.columns[0], 
        var_name='Loại Chi',
        value_name='Số Tiền Chi'
    )

    df_plot = df_plot.iloc[:, 1:]
    plt.figure(figsize=(8, 8))

    plt.pie(df_plot['Số Tiền Chi'],
            labels=df_plot['Loại Chi'],
            autopct='%1.1f%%',
            startangle=90)

    plt.title('Cơ cấu Chi tiêu Gia đình')
    plt.tight_layout()
    plt.show()

else:
    print("DataFrame không có dữ liệu để xử lý.")